.env
node_modules/
dist/
build/
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/

business_ModelAndConcept.md

node_modules

.env

backend/src/generated/prisma/*
backend/src/prisma/*
uploads/